<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit the Food Item</h1>

    <form action="/foods/<%=@food.id%>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <label for="name"> Food Name: </label>
        <input type="text" name="name" value="<%=@food.name%>">
        <label for="ingridents">Ingredients</label>
        <input type="text" name="ingredients" value="<%=@food.ingredients%>">
        <input type="submit" name="submit">

    </form>

    
</body>
</html>